<!DOCTYPE html>
<html lang='en' ng-app="MyNumbersApp">
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <title>My numbers App</title>
  </head>
  <body>
  </body>
</html>
